build
.xmake
.vscode/*.json
.DS_Store
.idea
*.a
*.o

3rd/*
!3rd/fetch.lua
!3rd/copy.lua
!3rd/xmake.lua
!3rd/pre
!3rd/.include
!.vscode/launch.json
dist
.xrepo
project.xcworkspace
xcuserdata